.auth-container {
  position: relative;
  max-width: 400px;
  margin: 80px auto;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-dark);
  text-align: center;
}

.login-style {
  background-color: var(--bg-color);
  color: #333;
}

.register-style {
  background-color: var(--bg-color);
  color: #333;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: inherit;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--secondary-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: inherit;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--secondary-color);
  transform: translateY(-30px);
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.link-text {
  margin-top: 15px;
  font-size: 14px;
}

.link-text a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.submit-btn {
  position: absolute;
  right: -10px;
  bottom: -20px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #0f0092;
  color: #FFF;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  border: none;
}

.submit-btn:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}